<section class="order about">
  <div class="container order__container">
    <div class="">
      <div class="double-title order__double-title">
        <span class="double-title__span">Лучшая </span>итальянская пиццерия!
        Доставим заказ за 30 минут!
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque aut cupiditate facilis maiores necessitatibus omnis porro quas, quasi saepe sapiente similique tenetur voluptatum. Eos iure labore sequi voluptatibus voluptatum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque aut cupiditate facilis maiores necessitatibus omnis porro quas, quasi saepe sapiente similique tenetur voluptatum. Eos iure labore sequi voluptatibus voluptatum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque aut cupiditate facilis maiores necessitatibus omnis porro quas, quasi saepe sapiente similique tenetur voluptatum. Eos iure labore sequi voluptatibus voluptatum.
      </div>
    </div>

    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="pizza" >
      <img src="assets/images/pizza_big.png" alt="pizza" >
    </div>
  </div>
</section>

