<section class="products">
  <div class="container">
    <h2 class="products__title">Описание пиццы</h2>
    <div class="product-items">
      <ng-template [ngIf]="product.image">
        <div class="product__img">
          <img src="{{product.image}}">
        </div>
      </ng-template>

      <custom-title [title]="product.title | uppercase "></custom-title>

      <div class="product__text">{{product.description | wordUpper:['томат', 'сыр', 'сос']}}</div>
      <div class="product__action" #elem>
        <a class="btn product__btn add-to-cart" routerLink="/order" [queryParams]="{product:product.title}">В
          корзину</a>
      </div>
    </div>
  </div>
</section>
